@tailwind base;
@tailwind components;
@tailwind utilities;

#root, html {
height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

header {
  background-color: rgb(119, 119, 119);
  padding: 20px;
  text-align: center;
}

header a {
  padding: 5px;
  font-size: 22px;
  color: #fff;
}

main {
  height: 100%;
  margin:  auto;
}

footer {
  padding: 10px;
}
